@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -text-size-adjust: 100%;
  list-style: none;
  
}

@media (max-width: 480px) {
  .review {
      width: 100vw;
  }
} 
* {
  box-sizing: border-box;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background: #efefbb;
  background: linear-gradient(to right, #d4d3dd, #aedef4);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  margin: 100;
}

h1 {
  margin: auto;
  letter-spacing: 3 px;
  justify-content: center;
}
h2 {
  margin: auto;
  letter-spacing: 1 px;
  justify-content: center;

}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
ul {
  list-style-type: none;
}
.nav{
 
  align-content: center;
  
}
.home_link{
justify-content: left;
}
.nav_link{
justify-content: right;
}
.review_list {
  /* display: flex; */
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}

.review {
  width: 60vw;
  background-color: #eee;
  border-radius: 2rem;
  box-shadow: 0 1rem 2rem rgba(100, 100, 100, 0.9);
  margin: 1rem;
  padding: 3rem;
  text-align: center;
}

.review .img-container {
  /* background-color: rgba(105, 10, 10, 0.1); */
  /* border-radius: 50%; */
  max-width: 70%;
  height: 70%;
  text-align: center;
}

.review .img-container img {
  max-width: 50%;
  margin-top: 20px;
}

.review .info {
  margin-top: 20px;
}

.review .info .title {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 0.8em;
}

.review .info .name {
  margin: 15px;
  letter-spacing: 0.1px;
}
.review .info .votes {
  text-align: left;
}
